.about-container{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}
@keyframes fadeInOpacity{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* ABOUT-GROUP PHOTO START */
.groupphoto{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    width: 40%;
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ABOUT-GROUP PHOTO END */

/* ABOUT START */
.about{
    margin: 180px;
    margin-top: 1%;
}
/* ABOUT END */